@model Findergers1._0.Models.Desaparecido
@{
    ViewBag.Title = "Editar";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Desaparecidos", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d=>d.Id)
            <div>
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Edad)
                @Html.TextBoxFor(d => d.Edad, "", new { @class = "form-control" })

            </div>
            <div>
                @Html.LabelFor(d => d.Descripcion)
                @Html.TextBoxFor(d => d.Descripcion, "", new { @class = "form-control" })

            </div>
            <div>
                @Html.LabelFor(d => d.FechaDesaparicion)
                @Html.TextBoxFor(d => d.FechaDesaparicion, "", new { @class = "form-control" })
            </div>
           


            <div style="text-align:right;">
                <input value="Save" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>

}